.grid-container {
  display: grid;
  /* instead of typing 1fr 1fr 1fr we can use repeat*/
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  max-width: 750px;
  height: 150px;
  /* Behold, how to center a div */
  margin: auto;
  margin-top: 7%;
}

.cool-heading {
  font-size: 2rem;
  text-align: center;
}